body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 249, 249);
}
.form-tambah {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-tambah {
    width: 100%;
    background-color: #262627;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-tambah:hover {
    background-color: #9daaad;
}

.btn-edit {
    background-color: #f0ad4e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-edit:hover {
    background-color: #f1b55f;
}

.btn-hapus {
    background-color: #f44336;;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-hapus:hover {
    background-color: #f5554a;
}

.box {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#tabel {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

#tabel td, #tabel th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tabel tr:nth-child(even){background-color: #f2f2f2;}

#tabel tr:hover {background-color: #ddd;}

#tabel th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #2c1f1f;
    color: white;
}
header {
    grid-column: 1 / 3;
    background: #352d38;
    color: white;
    padding: 40px;
    text-align: center;
  }
  main {
    padding-bottom: 640px;
  }
  .isian {
    padding: 32px;
    margin: 0 0 32px 0;
  }
  .isian h1 {
    text-align: center;
  }
  footer {
    grid-column: 1 / 3;
    background: #3b1d47;
    padding: 2rem 1rem;
    color: white;
  }
  .gal{
    width: 300px;
     height: 200px;
     border: 4px solid #575D63;
     padding: 10px;
     margin-bottom: 10px;
  }
 